/* Header Styles */

.header {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 40%);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 28px;
    background-color: #ffffff;
}

.logo img {
    height: 40px;
}
.nav-center ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
}

.nav-center a,
.nav-right a {
    font-size: 1.25rem;
}

.nav-center a:hover,
.nav-right a:hover {
    filter: brightness(0) saturate(100%) invert(36%) sepia(78%) saturate(749%) hue-rotate(358deg) brightness(102%) contrast(101%);
}

.nav-right ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.nav-right img {
    height: 20px;
}

.nav-right a:hover img {
    filter: brightness(0) saturate(100%) invert(36%) sepia(78%) saturate(749%) hue-rotate(358deg) brightness(102%) contrast(101%);
}